<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mutants & Masterminds - Character Sheet</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css" />

    <script type="module" src="scripts/vue-manager.js"></script>
</head>

<body id="app">

    <div id="meta-ui">
        <button id="toggle-theme" type="button" value="0" ref="themeButton" @click="setTheme"
                title="Theme: System Default - Click to switch"
                aria-label="Theme: System Default - Click to switch">
            <img src="" alt="">
        </button>
    </div>

    <div id="sheet-grid">

        <!-- #region Header -->
        <div id="sheet-header" class="row-section">
            <h1 aria-label="Hero Name">
                <input type="text" name="name" id="hero-name" placeholder="(Hero Name)" :value="info.name" @change="applyChanges($event, info)">
            </h1>

            <div id="identity-and-status">
                <div class="labeled-text">
                    <input type="text" name="altIdentity" id="hero-identity" :value="info.altIdentity" @change="applyChanges($event, info)">
                    <label for="hero-identity">Alternate Identity</label>
                </div>
                <div class="labeled-button">
                    <button id="ident-secrecy" class="invertable-svg" :value="info.identSecrecy" @click="info.identSecrecy = !info.identSecrecy"></button>
                    <label for="ident-secrecy">{{ info.identSecrecy ? "Secret" : "Public" }}</label>
                </div>
            </div>

            <div id="power-and-points">
                <div class="labeled-text">
                    <input type="text" name="powerLevel" id="power-level" :value="info.powerLevel" @change="applyParsedChanges($event, info, NumberTypes.INT, false)">
                    <label for="power-level">Power Level</label>
                </div>
                <div class="labeled-text">
                    <output for="power-level" id="points-used"><span>{{ "0 / " + info.powerLevel * 15 }}</span></output>
                    <label for="points-used">Points Used</label>
                </div>
            </div>

            <div id="affiliation-hq-debut">
                <div class="labeled-text">
                    <input type="text" name="affiliation" id="hero-affiliation" :value="info.affiliation" @change="applyChanges($event, info)">
                    <label for="hero-affiliation">Group Affiliation</label>
                </div>
                <div class="labeled-text">
                    <input type="text" name="base" id="hero-base" :value="info.base" @change="applyChanges($event, info)">
                    <label for="hero-base">Base of Operations</label>
                </div>
                <div class="labeled-text">
                    <input type="text" name="debut" id="first-appearance" :value="info.debut" @change="applyChanges($event, info)">
                    <label for="first-appearance">First Appearance</label>
                </div>
            </div>


            <div id="physical-attributes">
                <div class="labeled-text">
                    <select name="size" id="hero-size" :value="info.size" @change="applyParsedChanges($event, info, NumberTypes.INT, false)">
                        <option value="" disabled></option>
                        <option value="5">Awesome</option>
                        <option value="4">Colossal</option>
                        <option value="3">Gargantuan</option>
                        <option value="2">Huge</option>
                        <option value="1">Large</option>
                        <option value="0" selected>Medium</option>
                        <option value="-1">Small</option>
                        <option value="-2">Tiny</option>
                        <option value="-3">Diminutive</option>
                        <option value="-4">Fine</option>
                        <option value="-5">Miniscule</option>
                    </select>
                    <label for="hero-size">Size</label>
                </div>
                <div class="labeled-text">
                    <input type="text" name="height" id="hero-height" :value="info.height" @change="applyChanges($event, info)">
                    <label for="hero-height">Height</label>
                </div>
                <div class="labeled-text">
                    <input type="text" name="weight" id="hero-weight" :value="info.weight" @change="applyChanges($event, info)">
                    <label for="hero-weight">Weight</label>
                </div>
                <div class="labeled-text">
                    <input type="text" name="age" id="hero-age" :value="info.age" @change="applyChanges($event, info)">
                    <label for="hero-age">Age</label>
                </div>
                <div class="labeled-text">
                    <input type="text" name="skin" id="hero-skin" :value="info.skin" @change="applyChanges($event, info)">
                    <label for="hero-skin">Skin</label>
                </div>
                <div class="labeled-text">
                    <input type="text" name="eyes" id="hero-eyes" :value="info.eyes" @change="applyChanges($event, info)">
                    <label for="hero-eyes">Eyes</label>
                </div>
                <div class="labeled-text">
                    <input type="text" name="hair" id="hero-hair" :value="info.hair" @change="applyChanges($event, info)">
                    <label for="hero-hair">Hair</label>
                </div>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Misc Scores -->
        <div id="ability-scores" class="row-section">
            <h2 id="ability-scores-head">Abilities & Saves</h2>

            <div id="scores-row-1">
                <div id="big-six" class="score-array">

                    <div class="score-container" v-for="(scVal, scName) of stats.main">
                        <h3 class="score-title">{{ scVal.displayName }}</h3>
                        <output class="score-total" :for="scName + '-base ' + scName + '-extr'">
                            <span>{{ getScoreTotal(scName) }}</span>
                            <output class="score-bonus"><span>{{ (getScoreBonus(scName) >= 0 ? "+" : "") + getScoreBonus(scName) }}</span></output>
                        </output>
                        <div class="labeled-text base-container">
                            <input type="text" name="base" :id="scName + '-base'" :value="scVal.base"
                                   @change="applyParsedChanges($event, stats.main[scName], NumberTypes.INT, false)">
                            <label :for="scName + '-base'">Base</label>
                        </div>
                        <div class="labeled-text extr-container">
                            <input type="text" name="extr" :id="scName + '-extr'" :value="scVal.extr"
                                   @change="applyParsedChanges($event, stats.main[scName], NumberTypes.INT, false)">
                            <label :for="scName + '-extr'">Enhanced</label>
                        </div>
                    </div>

                </div>

                <div id="save-scores" class="score-array">

                    <div class="score-container" v-for="(svVal, svName) of stats.saves">
                        <h3 class="score-title">{{ svVal.displayName }}</h3>
                        <output class="score-total" :for="svName + '-base ' + svName + '-extr'">
                            <span>{{ getScoreTotal(svName) + getScoreBonus(svVal.moddedBy) }}</span>
                            <div class="score-bonus"><span>{{ svVal.moddedBy }}</span></div>
                        </output>
                        <div class="labeled-text base-container">
                            <input type="text" name="base" :id="svName + '-base'" :value="svVal.base"
                                   @change="applyParsedChanges($event, stats.saves[svName], NumberTypes.INT, false)">
                            <label :for="svName + '-base'">Base Mod.</label>
                        </div>
                        <div class="labeled-text extr-container">
                            <input type="text" name="extr" :id="svName + '-extr'" :value="svVal.extr"
                                   @change="applyParsedChanges($event, stats.saves[svName], NumberTypes.INT, false)">
                            <label :for="svName + '-extr'">Misc. Mod.</label>
                        </div>
                    </div>

                </div>
            </div>

            <div id="scores-row-2">

                <div id="hero-points-outer">
                    <h3 id="hero-points-label">Hero Points</h3>
                    <div id="hero-points-inner" class="invertable-svg_pseudo full-brightness">
                        <output id="hero-points" name="heroPoints" for="hero-points-sub hero-points-add">
                            <span>{{ stats.other.heroPoints }}</span>
                        </output>
                        <button id="hero-points-sub" type="button" name="heroPointsSub" @click="stats.other.heroPoints--" :disabled="stats.other.heroPoints <= 0"
                                aria-label="-1 Hero Point" aria-controls="hero-points">-</button>
                        <button id="hero-points-add" type="button" name="heroPointsAdd" @click="stats.other.heroPoints++"
                                aria-label="+1 Hero Point" aria-controls="hero-points">+</button>
                    </div>
                </div>

                <hr class="invertable-svg">

                <div id="conditions">
                    <div class="labeled-text">
                        <input id="bruises" type="text" name="bruises" size="10" :value="stats.other.bruises"
                               @change="applyParsedChanges($event, stats.other, NumberTypes.INT)">
                        <label for="bruises">Bruises</label>
                    </div>
                    <div class="labeled-text">
                        <input id="injuries" type="text" name="injuries" size="10" :value="stats.other.injuries"
                               @change="applyParsedChanges($event, stats.other, NumberTypes.INT)">
                        <label for="injuries">Injuries</label>
                    </div>
                    <div class="labeled-check" v-for="(cnVal, cnName) of stats.conditions">
                        <div class="cond-backdrop" aria-hidden="true" @click="stats.conditions[cnName] = !cnVal"></div>
                        <input type="checkbox" :name="cnName" :id="cnName" v-model="stats.conditions[cnName]"
                               @keyup.enter="stats.conditions[cnName] = !cnVal" :aria-checked="cnVal">
                        <label :for="cnName">{{ cnName }}</label>
                    </div>
                </div>

                <div id="atk-bonuses">
                    <div class="labeled-text">
                        <input id="attack-bonus" type="text" name="attackBonus" size="6" :value="stats.other.attackBonus"
                               @change="applyParsedChanges($event, stats.other, NumberTypes.INT, false)">
                        <label for="attack-bonus">General Attack Bonus</label>
                    </div>
                    <div class="labeled-text">
                        <input id="melee-bonus" type="text" name="meleeBonus" size="6" :value="stats.other.meleeBonus"
                               @change="applyParsedChanges($event, stats.other, NumberTypes.INT, false)">
                        <label for="melee-bonus">Melee Bonus</label>
                    </div>
                    <div class="labeled-text">
                        <input id="ranged-bonus" type="text" name="rangedBonus" size="6" :value="stats.other.rangedBonus"
                               @change="applyParsedChanges($event, stats.other, NumberTypes.INT, false)">
                        <label for="ranged-bonus">Ranged Bonus</label>
                    </div>
                </div>

                <div id="misc-combat" class="score-array">

                    <div class="score-container">
                        <h3 class="score-title">Defense</h3>
                        <output class="score-total" for="defense-bonus extra-dodge">
                            <span>
                                {{
                                stats.other.defenseBonus + stats.other.extraDodge + Math.max(-12, Math.min(12,
                                Math.sign(info.size * -1) * Math.floor(Math.pow(2, Math.abs(info.size) - 1))
                                ))}}
                            </span>
                            <div class="score-bonus"><span>SIZE</span></div>
                        </output>
                        <div class="labeled-text base-container">
                            <input type="text" name="defenseBonus" id="defense-bonus" :value="stats.other.defenseBonus"
                                   @change="applyParsedChanges($event, stats.other, NumberTypes.INT, false)">
                            <label for="defense-bonus">Base Bonus</label>
                        </div>
                        <div class="labeled-text extr-container">
                            <input type="text" name="extraDodge" id="extra-dodge" :value="stats.other.extraDodge"
                                   @change="applyParsedChanges($event, stats.other, NumberTypes.INT, false)">
                            <label for="extra-dodge">Extra Dodge</label>
                        </div>
                    </div>

                    <div class="score-container">
                        <h3 class="score-title">Initiative</h3>
                        <output class="score-total" for="initiative-power initiative-feat">
                            <span>{{ stats.other.initiativePower + stats.other.initiativeFeat + getScoreBonus("dex") }}</span>
                            <div class="score-bonus"><span>DEX</span></div>
                        </output>
                        <div class="labeled-text base-container">
                            <input type="text" name="initiativePower" id="initiative-power" :value="stats.other.initiativePower"
                                   @change="applyParsedChanges($event, stats.other, NumberTypes.INT, false)">
                            <label for="initiative-power">Power Modifier</label>
                        </div>
                        <div class="labeled-text extr-container">
                            <input type="text" name="initiativeFeat" id="initiative-feat" :value="stats.other.initiativeFeat"
                                   @change="applyParsedChanges($event, stats.other, NumberTypes.INT, false)">
                            <label for="initiative-feat">Feat Modifier</label>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <!-- #endregion -->

        <div id="skills-and-feats">

            <div id="skills">
                <div id="skills-headers" class="skills-row-inner">
                    <h2>Skills</h2>
                    <span id="skill-head_ability">Ability</span>
                    <span id="skill-head_total">Total</span>
                    <span id="skill-head_rank">Rank</span>
                    <span id="skill-head_extras">Extras</span>
                </div>

                <div class="skills-row-outer" v-for="(skVal, skNme) of skills"
                     :class="{ 'trained-only':skVal.trainedOnly, 'untrained':skVal.rank < 1, 'has-subtype':skVal.type !== null }">

                    <!-- Base Skill -->
                    <div class="skills-row-inner">
                        <h3 class="skill-name" :aria-label="skVal.trainedOnly ? 'Trained Only' : null">
                            <span>{{ skVal.displayName }}</span>

                            <input type="text" name="type" :id="skNme + '-type'" placeholder="(Type)"
                                   v-if="skVal.type !== null" :value="skVal.type" @change="applyChanges($event, skVal)">
                        </h3>

                        <span class="skill-ability" aria-labelledby="skill-head_ability">{{ skVal.ability }}</span>
                        <output class="skill-total" aria-labelledby="skill-head_total" :for="skNme + '-rank ' + skNme + '-mods'">
                            {{ skVal.rank + skVal.mods + getScoreBonus(skVal.ability) }}
                        </output>
                        <input type="text" name="rank" :id="skNme + '-rank'" class="skill-rank" size="2" aria-labelledby="skill-head_rank"
                               :value="skVal.rank" @change="applyParsedChanges($event, skVal, NumberTypes.INT, false)">
                        <input type="text" name="mods" :id="skNme + '-mods'" class="skill-mods" size="2" aria-labelledby="skill-head_extras"
                               :value="skVal.mods" @change="applyParsedChanges($event, skVal, NumberTypes.INT, false)">

                        <button type="button" :id="'add-' + skNme" class="subtype-button" :aria-label="'Add one ' + skVal.displayName + ' subtype'"
                                v-if="skVal.type !== null" :disabled="skVal.rank + skVal.mods < 1" @click="addSubtype($event, skNme)">+</button>
                    </div>

                    <!-- Subtypes -->
                    <div class="skills-row-inner subtype" v-for="(sbVal, index) of skVal.subtypes">
                        <h3 class="skill-name" :aria-label="sbVal.trainedOnly ? 'Trained Only' : null">
                            <!-- v  Hidden by CSS  v -->
                            <span>{{ skVal.displayName }}</span>

                            <input type="text" name="type" :id="skNme + '-type_' + index" placeholder="(Type)"
                                   v-if="sbVal.type !== null" :value="sbVal.type" @change="applyChanges($event, sbVal)">
                        </h3>

                        <span class="skill-ability" aria-labelledby="skill-head_ability">{{ sbVal.ability }}</span>
                        <output class="skill-total" aria-labelledby="skill-head_total" :for="skNme + '-rank_' + index + ' ' + skNme + '-mods_' + index">
                            {{ sbVal.rank + sbVal.mods + getScoreBonus(sbVal.ability) }}
                        </output>
                        <input type="text" name="rank" :id="skNme + '-rank_' + index" class="skill-rank" size="2" aria-labelledby="skill-head_rank"
                               :value="sbVal.rank" @change="applyParsedChanges($event, sbVal, NumberTypes.INT, false)">
                        <input type="text" name="mods" :id="skNme + '-mods_' + index" class="skill-mods" size="2" aria-labelledby="skill-head_extras"
                               :value="sbVal.mods" @change="applyParsedChanges($event, sbVal, NumberTypes.INT, false)">

                        <button type="button" :id="'remove-' + skNme + '_' + index" class="subtype-button"
                                :aria-label="'Remove this ' + skVal.displayName + ' subtype'" @click="removeSubtype($event, skNme, index)">-</button>
                    </div>

                </div>
            </div>

            <div id="feats">
                <h2>Feats</h2>
                <span>stuff will go here! promise!</span>
            </div>

        </div>

        <p><br><br><br><br>TEMP/TESTING</p>
        <hr>
        <p><br></p>
        <div>
            <p>
                <span>({{ info }})</span> <br><br>
                <span>({{ stats }})</span> <br><br>
                <span>({{ skills }})</span> <br><br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod aliquam provident, libero commodi rem voluptates odit reiciendis culpa quae vero molestias
                ullam odio quis exercitationem consectetur inventore. Iusto, deserunt blanditiis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, numquam minima
                ad sint error alias nesciunt id quasi repudiandae quibusdam adipisci beatae nam omnis atque officiis, quos, debitis illum necessitatibus.
            </p>
        </div>
    </div>
</body>

</html>